---
layout: layouts/base.njk
section: contact
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

<ul>
{% for item in frog %}
  <li>{{ item.title }}</li>
  <li>{{ item.prove }}</li>
{% endfor %}
</ul>

{% include "components/form.njk" %}
