---
layout: layouts/base.njk
section: contact
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}
<ul>
{% for froggy in frog %}
  <li>{{ froggy.prove }}</li>
  <li>{{ froggy.physical }}</li>
  <li><a href="{{ froggy.gently }}" target="_blank">file</a></li>
  <li><img src="{{ froggy.was }}"/></li>
{% endfor %}
</ul>
{% set pagelist = collections.pages %}
{% include "components/list.njk" %}
